* {
	text-shadow: none !important;
	
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	
	color: #333 !important;
	border: none !important;
}

body {
	width: 100%;
}

a:link:after, a:visited:after { content:" [" attr(href) "] "; }

nav {
	display: none;
}

#content {
	margin: 0 !important;
}